{% extends "space.html" %}

<link href="../../static/bootstrap-3.4.1-dist/css/space.css" rel="stylesheet">

{% block space_group %}
    {% if request.session.user_id == user_id %}
        <div class="base_space_group">
            <a href="/space/{{ user_id }}/">主页</a>
            <a href="/space_liked/{{ user_id }}/">点赞</a>
            <a href="/space_collect/{{ user_id }}/" style="background-color: #ddd;color: #2aabd2;">收藏</a>
            <a href="/setting/{{ user_id }}/">设置</a>
        </div>
    {% else %}
        <div class="base_space_group">
            <a href="/space/{{ user_id }}/">主页</a>
            <a href="/space_liked/{{ user_id }}/">点赞</a>
            <a href="/space_collect/{{ user_id }}/" style="background-color: #ddd;color: #2aabd2;">收藏</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid-container">
        {% for collect_video_obj in collect_video_objs %}
            <div class="grid-item">
                <a href="/detail/{{ collect_video_obj.id }}">
                    <img src="../../{{ collect_video_obj.cover_photo }}" alt=" " style="border-radius: 10px; width:325px;
                             height:200px; object-fit: cover">
                </a>
                <h4><a href="/detail/{{ collect_video_obj.id }}">{{ collect_video_obj.title|truncatechars:20 }}</a></h4>
                <p>{{ collect_video_obj.create_time|date:"Y-m-d H:i:s" }}</p>
            </div>

        {% empty %}
            <h2>什么都还没有呢~</h2>
        {% endfor %}
    </div>
{% endblock %}
